<?xml version='1.0' encoding='ISO-8859-1' ?>
<!--

    Copyright (C) 2008 Atlassian
    
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    
       http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
  <appender name="CONSOLE-DEBUG" class="org.apache.log4j.ConsoleAppender">
    <param name="target" value="System.err"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{ISO8601}]%5p%6.6r[%t]%x - %C.%M(%F:%L) - %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      	<!--param name="LevelMin" value="WARN"/-->
		<param name="LevelMax" value="WARN" />
	</filter>
  </appender>

	<!--appender name="CONSOLE-ALL" class="org.apache.log4j.RollingFileAppender">
    	<param name="File" value="/var/log/theplugin.log"/>
    	<param name="Append" value="true"/>
    	<param name="MaxFileSize" value="5000KB"/>
    	<param name="maxBackupIndex" value="5"/>
	</appender-->

  <!--appender name="CONSOLE-DEBUG" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%7r] %6p - %30.30c - %m \n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="DEBUG"/>
    </filter>
  </appender-->

  <appender name="CONSOLE-ALL" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{ISO8601}]%5p%6.6r[%t]%x - %C.%M(%F:%L) - %m%n"/>
    </layout>
  </appender>

  <category name="#com.atlassian.theplugin">
     <priority value="DEBUG"/>
     <appender-ref ref="CONSOLE-ALL"/>
  </category>

</log4j:configuration>
